{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Speech Detection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <style>
      * {
        margin: 0;
        padding: 0;
        text-align: center;
      }

      #wrap {
        width: 100%;
        margin: 0 auto;
      }
      main {
        width: 100%;
        height: 500px;
        float: none;
      }
      .main-img {
        width: 350px;
        height: 300px;
        /* 		   overflow:hidden; */
        padding-top: 50px;
        margin: 0 auto;
      }
      .main-text {
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div id="wrap">
      <main>
        <div class="main-img">
          <img class="abc" src="images/mic2.png" />
        </div>
      </main>
    </div>
    <div class="search">
      <div class="input-bar">
        <input
          type="text"
          placeholder="마이크 클릭후 음성으로 검색어 입력"
          autocomplete="off"
          id="search_kw"
          class="form-control"
          value="{{ kw|default_if_none:'' }}"
        />
        <button class="dictate">
          <i class="ic-mike"></i>
          <svg width="1.25rem" height="1.25rem" viewBox="0 0 100 100">
            <g stroke="#fff" stroke-width="15">
              <path d="M20,20 20,80">
                <animate
                  attributeName="d"
                  values="M20,40 20,60;M20,20 20,80;M20,40 20,60"
                  dur="1s"
                  repeatCount="indefinite"
                />
              </path>
              <path d="M50,10 50,90">
                <animate
                  attributeName="d"
                  values="M50,10 50,90;M50,40 50,60;M50,10 50,90"
                  dur="1s"
                  repeatCount="indefinite"
                />
              </path>
              <path d="M80,20 80,80">
                <animate
                  attributeName="d"
                  values="M80,40 80,60;M80,20 80,80;M80,40 80,60"
                  dur="1s"
                  repeatCount="indefinite"
                />
              </path>
            </g>
          </svg>
        </button>
        <form id="searchForm" method="get" action="{% url 'index' %}">
          <button
            class="btn btn-outline-secondary"
            type="submit"
            id="btn_search"
          >
            d
          </button>
          <input
            type="hidden"
            id="kw"
            name="kw"
            value="{{ kw|default_if_none:'' }}"
          />
          <!--            <input type="hidden" id="page" name="page" value="{{ page }}">-->
        </form>
        <!--<div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">▶</button>
                </div>-->
        <!--        <button class="summit" id="test" onclick="location.href='/pybo/index'">-->
        <!--          ▶-->
        <!--        </button>-->
      </div>
    </div>

    <div class="main-text">
      <b>AI 음성주문 키오스크</b><br />
      <b>주문하실 메뉴를 말씀해주세요</b><br />
      <b
        >추천 받으시려면 <span style="color: red">"메뉴추천"</span>이라고
        말씀해주세요</b
      >
    </div>
    <script>
      const $ = (el) => document.querySelector(el);

      const store = {
        texts: "",
        isRecognizing: true,
      };

      const constraints = {
        audio: true,
      };
      let chunks = [];
      const audioCtx = new (window.AudioContext || window.webkitAudioContext)(); // 오디오 컨텍스트 정의
      const analyser = audioCtx.createAnalyser();
      //        const distortion = audioCtx.createWaveShaper()
      //        const gainNode = audioCtx.createGain()
      //        const biquadFilter = audioCtx.createBiquadFilter()

      function makeSound(stream) {
        const source = audioCtx.createMediaStreamSource(stream);

        source.connect(analyser);
        //            analyser.connect(distortion)
        //            distortion.connect(biquadFilter)
        //            biquadFilter.connect(gainNode)
        //            gainNode.connect(audioCtx.destination) // connecting the different audio graph nodes together
        analyser.connect(audioCtx.destination);
      }
      (() => {
        /* Speech API start */
        let SpeechRecognition =
          window.SpeechRecognition || window.webkitSpeechRecognition;
        if (!("webkitSpeechRecognition" in window)) {
          alert("지원 안되는 브라우저 입니다. !");
        } else {
          const recognition = new SpeechRecognition();
          recognition.interimResults = true; // true면 음절을 연속적으로 인식하나 false면 한 음절만 기록함
          recognition.lang = "ko-KR"; // 값이 없으면 HTML의 <html lang="en">을 참고합니다. ko-KR, en-US
          recognition.continuous = false; //각 인식에 대해 연속 결과가 반환되는지 아니면 단일 결과만 반환되는지를 제어합니다. 기본값은 단일( false.)
          recognition.maxAlternatives = 20000; // maxAlternatives가 숫자가 작을수록 발음대로 적고, 크면 문장의 적합도에 따라 알맞은 단어로 대체합니다.

          recognition.onspeechend = function () {
            // 음성 감지가 끝날때 실행될 이벤트
            recognition.stop();
            $(".dictate").classList.remove("on");
            store.isRecognizing = true;
          };

          recognition.onresult = function (e) {
            //result이벤트는 음성 인식 서비스가 결과를 반환할 때 시작됩니다.
            store.texts = Array.from(e.results)
              .map((results) => results[0].transcript)
              .join("");

            console.log(store.texts);
            $("input").value = store.texts;
          };
          /* // Speech API END */

          const active = () => {
            $(".dictate").classList.add("on");
            recognition.start();
            store.isRecognizing = false;
          };

          const unactive = () => {
            $(".dictate").classList.remove("on");
            recognition.stop();
            store.isRecognizing = true;
          };

          $(".dictate").addEventListener("click", () => {
            if (store.isRecognizing) {
              active();
            } else {
              unactive();
            }
          });
        }
      })();
    </script>
  </body>
</html>
