{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴추천</title>
    <link rel="stylesheet" type="text/css" href="{% static 'output.css' %}" />
  </head>
  <body>
		<main>
			<div id="recommend">
        <h3><span>{{peopleType}} </span>고객님 추천메뉴입니다.</h3>
				{% if menu_list %}
				{% for menu in menu_list %}
				<div class="menu">
					<div class ="food_list">
						<div><img src="{{menu.imglink}}" class="food_img"></div>
						<div class ="name"><b>{{ menu.menuName }}</div>
						<div class="price"> ₩ {{ menu.Price }}원</div>
					<!--<'cdiv class="content"> {{ menu.content }}</div>-->
					</div>
				</div>
				{% endfor %}
				{% else %}
				<p>해당 매뉴가 없습니다.</p>
				{% endif %}
					<div class="clear"></div>
			</div>
		</main>
  </body>
</html>
